/* HERO */
.hero{
  position: relative;
  min-height:100vh;
  background:url("https://images.pexels.com/photos/36057933/pexels-photo-36057933.jpeg") center/cover no-repeat;

  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

/* Overlay */
.overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)
  );
}

/* Contenido */
.hero-content{
  position:relative;
  z-index:2;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  color:white;
  width:90%;
  max-width:800px;

  animation:fadeIn 1.2s ease;
}

/* Título */
.hero-title{
  font-size:3rem;
  font-weight:bold;
  margin-bottom:20px;
}

/* Subtítulo */
.hero-subtitle{
  font-size:1.2rem;
  margin-bottom:35px;
  opacity:0.9;
}

/* Botones */
.hero-buttons{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

/* Botón principal */
.btn-primary{
  background:#d35400;
  color:white;
  padding:14px 30px;
  border-radius:30px;
  text-decoration:none;
  font-weight:500;
  transition:all .3s;
}

.btn-primary:hover{
  background:#e67e22;
  transform:translateY(-3px);
}

/* Botón secundario */
.btn-secondary{
  border:2px solid white;
  color:white;
  padding:14px 30px;
  border-radius:30px;
  text-decoration:none;
  transition:.3s;
}

.btn-secondary:hover{
  background:white;
  color:#333;
}

/* Animación */
@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(30px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* RESPONSIVE */
@media(max-width:768px){

.hero-title{
  font-size:2rem;
}

.hero-subtitle{
  font-size:1rem;
}

.hero-buttons{
  flex-direction:column;
  align-items:center;
}

.btn-primary,
.btn-secondary{
  width:80%;
  text-align:center;
}

}